.blog-styles h1 {
  font-size: 2rem;
}

.blog-styles h2 {
  font-size: 1.5rem;
}

img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blog-styles p {
  @apply my-5;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: none;
}

ul > li::before {
  content: "-";
  margin-right: 5px;
}

p a {
  @apply text-coral duration-300 hover:text-coral/75 dark:hover:text-global-warming;
}
